.forgot-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0  4rem;
    height: 100vh;
    box-sizing: border-box;
    padding: 10px 0;
}

.forgot-form-box{
    background-color: white;
    width: 30%;
    padding: 15px 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}

.forgot-form{
    display: flex;
    flex-direction: column;
}

.forgot-form, .forgot-image-box{
    width: 80%;
}

.forgot-input-box{
    display: flex;
    flex-direction: column;
}
.forgot-goback-button{
    background-color: transparent;
    color: rgb(25, 118, 210);
    border: 1px solid rgba(25, 118, 210, 0.5);
    width: 100%;
}

.single-box{
    padding: 10px 0;
}

.button{
    margin: 10px 0;
    cursor: pointer;
}